@import "../../style/color.less";
@import "../../style/mixin.less";

.queryBoxContainer{
    padding: 6px 0;
    .optionContainer{
        display: inline-block;
        min-width: 40px;
        position: relative;
        height: 35px;
        .optionButton{
            width: 100%;
            background: @primaryFg;
            border: none;
            padding: 7px 15px;
            color: @em9fg;
            font-size: 14px;
            border-radius: 5px 0 0 5px;
            height: 35px;
        }
        .optionList{
            position: absolute;
            z-index: 9999;
            top: 36px;
            list-style: none;
            background: @primaryFg;
            padding: 4px 8px;
            width: 100%;
            box-shadow: 0px 2px 4px @primaryBg;
            .optionItem{
                padding: 3px 0;
                color: @em4fg;
                &:hover{
                    background-color: darken(@primaryFg, 10%);
                    color: darken(@em4fg, 20%);
                    .onHover;
                }
            }
        }
    }
    .inputContainer{
        display: inline-block;
        margin-left: 1px;
        position: relative;
        min-width: 450px;
        .input{
            width: 100%;
            padding-left: 5px;
            height: 35px;
            border-radius: 0 5px 5px 0;
            border: none;
        }
        .warningContainer{
            position: absolute;
            right: 3px;
            top: 15px;
            color: #D96936;
        }
        .autocompleteContainer{
            padding: 5px;
            position: absolute;
            z-index: 999;
            top: 40px; 
            left: 1px;
            background-color: @primaryFg;
            min-width: 450px;
            box-shadow: 0px 2px 4px @primaryBg;
            text-align: left;
            color: @em3fg;
            .suggestionEntry{
                &:hover{
                    background-color: lighten(@em1fg, 10%);
                    color: darken(@em3fg, 10%);
                    cursor: pointer;
                }
                margin: 0;
                padding: 5px 3px;
                &>div{
                    padding: 0;
                }
            }
        }
    }
    .goButton{
        background-color: @primaryFg;
        border: none;
        border-radius: 5px;
        color: @em3fg;
        &:hover{
            background-color: @em1fg;
            color: darken(@em3fg,10%);
            .onHover;
        }
        display: inline-block;
        padding: 3px 6px;
        margin-left: 5px;
        height: 30px;
    }
    .fileUploader{
        display: none;
    }
    .fileUploaderLabel{
        color: @em3fg;
        display: inline-block;
        padding: 5px 6px;
        border-radius: 5px;
        background-color: @primaryFg;
        margin-left: 5px;
        &:hover{
            background-color: @em1fg;
            color: darken(@em3fg,10%);
            .onHover;
        }
    }
}


